# ==============================================================================
#  GIA S? BÁ ??O VN ? SYSTEM CONFIGURATION TEMPLATE
#  File: config.properties.example
# ==============================================================================
#
#  H??NG D?N THI?T L?P:
#    1. Sao chép file này thành "config.properties" trong cùng th? m?c resources/
#    2. ?i?n thông tin th?c t? vào các tr??ng có giá tr? placeholder
#
#
# ==============================================================================


# ------------------------------------------------------------------------------
#  [1] L?U TR? ?NH ? CLOUDINARY
#      ??ng ký t?i: https://cloudinary.com
# ------------------------------------------------------------------------------
cloudinary.cloud_name   = YOUR_CLOUD_NAME
cloudinary.api_key      = YOUR_API_KEY
cloudinary.api_secret   = YOUR_API_SECRET


# ------------------------------------------------------------------------------
#  [2] ??NG NH?P XÃ H?I ? GOOGLE OAuth2
#      ??ng ký t?i: https://console.cloud.google.com
# ------------------------------------------------------------------------------
google.client.id        = YOUR_CLIENT_ID.apps.googleusercontent.com
google.client.secret    = YOUR_CLIENT_SECRET
google.redirect.uri     = http://localhost:8080/tutor_web_war_exploded/oauth2-callback?provider=google


# ------------------------------------------------------------------------------
#  [3] ??NG NH?P XÃ H?I ? FACEBOOK OAuth2
#      ??ng ký t?i: https://developers.facebook.com
# ------------------------------------------------------------------------------
facebook.client.id      = YOUR_FACEBOOK_APP_ID
facebook.client.secret  = YOUR_FACEBOOK_APP_SECRET
facebook.redirect.uri   = http://localhost:8080/tutor_web_war_exploded/oauth2-callback?provider=facebook


# ------------------------------------------------------------------------------
#  [4] C?NG THANH TOÁN ? MOMO SANDBOX
#      Tài li?u: https://developers.momo.vn
#
#  TH? TEST (ATM NAPAS):
#    ?????????????????????????????????????????????????????????????????????????
#    ? STT ? S? th?               ? H?n th?  ? OTP ? K?ch b?n               ?
#    ?????????????????????????????????????????????????????????????????????????
#    ?  1  ? 9704 0000 0000 0018  ?  03/07   ? OTP ? ? Thanh toán thành công ?
#    ?  2  ? 9704 0000 0000 0026  ?  03/07   ? OTP ? ? Th? b? khóa          ?
#    ?  3  ? 9704 0000 0000 0034  ?  03/07   ? OTP ? ? Ngu?n ti?n không ??  ?
#    ?  4  ? 9704 0000 0000 0042  ?  03/07   ? OTP ? ? V??t h?n m?c th?     ?
#    ?????????????????????????????????????????????????????????????????????????
#    Tên ch? th? (t?t c?): NGUYEN VAN A
# ------------------------------------------------------------------------------
momo.partner_code       = MOMO
momo.access_key         = F8BBA842ECF85
momo.secret_key         = K951B6PE1waDMi640xX08PD3vg6EkVlz
momo.endpoint           = https://test-payment.momo.vn/v2/gateway/api/create
momo.return_url         = http://localhost:8080/tutor_web_war_exploded/parent/momo-return



GEMINI_API_KEY = YOUR_GEMINI_API_KEY

