# db.properties.example

db.url=jdbc:mysql://localhost:3306/tutor_web
db.username=root
db.password=

google.client.id=YOUR_GOOGLE_CLIENT_ID
google.client.secret=YOUR_GOOGLE_CLIENT_SECRET
google.redirect.uri=http://localhost:8080/tutor_web_war_exploded/oauth2-callback?provider=google

facebook.client.id=YOUR_FACEBOOK_APP_ID
facebook.client.secret=YOUR_FACEBOOK_APP_SECRET
facebook.redirect.uri=http://localhost:8080/tutor_web_war_exploded/oauth2-callback?provider=facebook